#logo {
  width: auto;
  height: 50px;
}

nav {
  background-color: darkgray;
  display: flex;
  justify-content: space-between;
}
#id {
  padding-left: 50px;
}
nav > ul {
  display: flex;
}
nav > ul > li {
  list-style-type: none;
  margin: 10px;
}
